@import "tailwindcss";

:root {
  --color-primary: #69573B;
  --color-secondary: #79804D;
  --color-accent: #3E482A;
  --color-dark: #2D2920;
  --color-background: #F5F5F5;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
}

body {
  background: var(--color-background);
  color: var(--color-dark);
  font-family: var(--font-sans), system-ui, sans-serif;
}